dotenv
// Ignore environment variable files
.env
// Ignore Visual Studio Code configuration files
.vscode
// Ignore Python virtual environment files
.venv
// Ignore Python byte code files

__pycache__/
*.pyc