<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Grn Lite - Beta Reader List</title>
		{% load static %}

		<link rel="stylesheet" href="{% static 'Front_End/CSS/styles.css' %}" />
	</head>
	<body>
		<div class="container">
			<h1>Beta Readers</h1>
			<form method="GET" class="form-inline">
					<input type="text" name="query" placeholder="Search by name or experience" />
					<input type="text" name="keyword" placeholder="Search by keyword" />
					<button type="submit">Search</button>
			</form>
	
			<div class="row mt-4">
					{% for beta_reader in beta_readers %}
					<div class="col-md-4">
							<div class="card">
									<div class="card-body">
										<h5 class="card-title">
											<a href="{% url 'beta_reader_public_profile' beta_reader.pk %}">
													{{ beta_reader.profile.user.username }} (ID: {{ beta_reader.pk }})
											</a>
									</h5>
											<p><strong>Experience:</strong> {{ beta_reader.experience }}</p>
											<p><strong>Keywords:</strong> 
													{{ beta_reader.keywords.all|join:", " }}
											</p>
											<p><strong>Rating:</strong> {{ beta_reader.rating|default:"N/A" }}</p>
											<p><strong>Total Reviews:</strong> {{ beta_reader.total_reviews }}</p>
									</div>
							</div>
					</div>
					{% empty %}
					<p>No beta readers found.</p>
					{% endfor %}
			</div>
	</div>
	</body>
</html>
